backEnd/node_modules/
backEnd/public/
backEnd/.env
backEnd/backEnd.zip
backEnd/env.development.json
backEnd/env.production.json
almacenes.cadsqy.com/
frontEnd/node_modules/
frontEnd/dist/
frontEnd/.angular/cache/
.angular