<div class="d-flex justify-content-center bg-white">
  <h1 class="text-break fs-1 m-2 fw-bold lh-1">
    MSI GeForce RTX 4090 SUPRIM LIQUID X 24G Hybrid Cooling 24GB GDDR6X PCIe 4.0
    Graphics Card
  </h1>
</div>

<div class="clearfix">
  <div class="col-md-6 m-md-4 float-md-start d-flex justify-content-center">
    <div>
      <div class="row justify-content-center">
        <img src="{{ imgMain }}" class="col-12 img-fluid" alt="..." />
        <div class="row px-3 py-2">
          <div
            *ngFor="let img of otherImgs; let i = index"
            class="col btn"
            (click)="switchImage(img, i)"
          >
            <img
              src="{{ img }}"
              class="img-fluid"
              alt="imagen producto detalle"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="p-3">
    <div class="d-flex justify-content-center align-items-center">
      <button mat-button color="primary" class="fs-3 text">
        Agregar al carrito
      </button>
      <button mat-icon-button>
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
    </div>

    <h2>Detalle</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas voluptatum
      blanditiis consectetur quaerat voluptate nulla explicabo quod dolores
      optio asperiores itaque deserunt dolorem molestiae, in delectus eveniet
      nobis. Optio eaque voluptate, atque quod omnis velit harum quos, eos ad
      natus labore, cupiditate fuga animi id nobis exercitationem similique
      nostrum iure maxime. Minus obcaecati cupiditate consequatur magnam
      accusantium assumenda aspernatur, tenetur iste ratione sequi esse modi
      dolorem necessitatibus ut, error quo! Dolor dicta eius eum ex ea rerum,
      possimus deserunt magnam dignissimos. Perspiciatis, neque quaerat
      asperiores iste impedit ullam iusto accusantium blanditiis veniam,
      voluptate reprehenderit similique culpa quas reiciendis expedita id cum.
      Distinctio rerum quaerat minima ratione modi, nobis rem nesciunt,
      consectetur, quod ipsa necessitatibus debitis enim id expedita optio!
      Quisquam quis, et rem doloremque quia perferendis animi maiores. Commodi
      debitis laudantium quae quia ipsa ducimus? Accusantium sit animi pariatur
      alias illo laudantium numquam earum architecto praesentium nihil amet,
      molestias sunt aliquid quia temporibus sint hic eveniet iusto, accusamus
      consequatur porro! Dolore molestias modi deserunt sequi voluptas aperiam
      doloremque, repellendus veritatis in rem. Ratione consectetur error unde
      quam quos doloribus, ea autem quo recusandae deserunt, est veniam vitae
      nulla ducimus reiciendis minus excepturi commodi dignissimos molestiae
      deleniti ullam? Voluptates totam iusto perferendis praesentium
      necessitatibus dicta eaque dolores, debitis tenetur nihil natus quibusdam
      blanditiis, officiis possimus, corrupti veniam sed quam suscipit!
      Reiciendis ipsum sint illo, nesciunt reprehenderit nam, earum quisquam,
      eos ad tempore numquam nulla odit alias repudiandae. Ea iste aut voluptas
      repudiandae cupiditate tenetur quasi exercitationem numquam impedit
      aliquam saepe, doloremque facilis dolore autem! Molestias minima odio
      ullam. Ducimus quidem cum id saepe aut minima error ullam repellat
      voluptates ratione debitis explicabo, tempore sed quos ipsa vel,
      voluptatum architecto. Ex porro hic voluptates totam animi reprehenderit
      inventore saepe ipsum consectetur! Dolore ullam error eius voluptate ipsum
      consequuntur iure eos quibusdam! Repellat alias sunt reprehenderit
      deserunt quaerat magnam veritatis, nisi ullam, iste quis omnis aliquid
      molestias possimus eos a cum distinctio voluptatum nobis! Similique animi,
      assumenda a repudiandae vero quisquam eaque suscipit recusandae ullam!
      Maiores quidem repudiandae blanditiis magnam asperiores magni. Consequatur
      beatae ut iusto modi expedita consectetur quaerat magni fugit perferendis
      ducimus tenetur minus tempore pariatur culpa in voluptatem, architecto
      obcaecati adipisci qui eos ea error quas. Harum non dolores doloremque
      deserunt veniam blanditiis ad voluptatem earum itaque sapiente, provident
      pariatur cupiditate, distinctio quaerat ut enim atque temporibus, ipsa quo
      facere molestias debitis accusamus! Non, dolor distinctio. Magnam eos
      debitis, obcaecati vero, itaque quam voluptate nobis ex cupiditate
      possimus alias quidem cum consequuntur voluptatibus earum veritatis
      provident quasi ipsa perspiciatis distinctio doloribus nostrum aut,
      exercitationem velit? Illo nostrum eaque suscipit recusandae illum eum
      beatae accusantium distinctio cum molestiae quasi libero labore nobis eos
      velit eius, nemo harum possimus autem debitis omnis mollitia provident id.
      Eligendi, dignissimos. Alias, veritatis blanditiis! Necessitatibus sit
      eligendi praesentium ratione! Nobis, illum repellendus reiciendis magnam,
      autem quo hic repellat quaerat soluta sapiente neque facilis corporis
      dolor, cumque blanditiis? Harum necessitatibus ipsa eius cupiditate
      dignissimos neque aut suscipit aperiam explicabo sint, veniam fugit
      voluptatibus eligendi, corporis consectetur! Beatae?
    </p>

    <p>
      As you can see the paragraphs gracefully wrap around the floated image.
      Now imagine how this would look with some actual content in here, rather
      than just this boring placeholder text that goes on and on, but actually
      conveys no tangible information at. It simply takes up space and should
      not really be read.
    </p>

    <p>
      And yet, here you are, still persevering in reading this placeholder text,
      hoping for some more insights, or some hidden easter egg of content. A
      joke, perhaps. Unfortunately, there's none of that here.
    </p>
  </div>
</div>
