<!-- <div class="carousel">
    <img *ngFor="let image of images" [src]="image" />
  </div> -->
<div class="main">
  <div class="drag">
    <div class="spin">
      <img [src]="images[0]" alt="" class="" />
      <img [src]="images[1]" alt="" class="" />
      <img [src]="images[2]" alt="" class="" />
      <img [src]="images[3]" alt="" class="" />
      <img [src]="images[4]" alt="" class="" />
      <img [src]="images[5]" alt="" class="" />
      <img [src]="images[6]" alt="" class="" />
    </div>
  </div>
</div>
