.carousel {
    position: relative;
    width: 500px;
    height: 300px;
  }
  
  .carousel img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg) translateX(100px) translateY(250px);
    animation: spin 15s linear infinite;
    -webkit-transform: translate(-50%, -50%) rotate(0deg) translateX(100px) translateY(250px);
    -moz-transform: translate(-50%, -50%) rotate(0deg) translateX(100px) translateY(250px);
    -ms-transform: translate(-50%, -50%) rotate(0deg) translateX(100px) translateY(250px);
    -o-transform: translate(-50%, -50%) rotate(0deg) translateX(100px) translateY(250px);
}
  
  @keyframes spin {
    from {
      transform: translate(-50%, -50%) rotate(0deg) translateX(100px) translateY(250px);
      -webkit-transform: translate(-50%, -50%) rotate(0deg) translateX(100px) translateY(250px);
      -moz-transform: translate(-50%, -50%) rotate(0deg) translateX(100px) translateY(250px);
      -ms-transform: translate(-50%, -50%) rotate(0deg) translateX(100px) translateY(250px);
      -o-transform: translate(-50%, -50%) rotate(0deg) translateX(100px) translateY(250px);
}
    to {
      transform: translate(-50%, -50%) rotate(360deg) translateX(100px) translateY(250px);
      -webkit-transform: translate(-50%, -50%) rotate(360deg) translateX(100px) translateY(250px);
      -moz-transform: translate(-50%, -50%) rotate(360deg) translateX(100px) translateY(250px);
      -ms-transform: translate(-50%, -50%) rotate(360deg) translateX(100px) translateY(250px);
      -o-transform: translate(-50%, -50%) rotate(360deg) translateX(100px) translateY(250px);
}
  }